.main{
	background-color: transparent;
	width: 100%;
}
html{
	scroll-behavior: smooth;
}

#ulx{
	margin-left: 50px; 
	margin-top: 25vh;
}
img{
	width: 200px;
	height: 200px;
	margin-right: 50px;
  margin-top: 10px;
	
}
img:hover {
    webkit-filter: blur(4px); 
    filter: blur(2px);
   

    transition: .5s;
}

.main{
	margin-top: 80px;
}
.info{
	color:black;
}
@media screen and (max-width: 900px) {
  img {
    width: 100px;
    height: 100px;
  }
  #ulx{
  	margin-top: 10vh;
  	transition-duration: 2s;
  	margin-left: 23px;
  }
}

body {
            overflow-x:hidden;
        }
        .hidden
        {
            display:none;
        }

        .shown 
        {
            display:block;
        }

        .show
        {
            display:block;
        }
        input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button 
        { 
              -webkit-appearance: none; 
              margin: 0; 